{
  "IBM_WATSON_USERNAME": "SAMPLE",
  "IBM_WATSON_PASSWORD": "SAMPLE",
  "S3_BUCKET": "SAMPLE (for storing recordings and transcriptions)",
  "HTTP_USER": "SAMPLE (generic login username)",
  "HTTP_PASS": "SAMPLE (generic login password)",
  "ZAPPA_HOST": "https://SAMPLE.us-east-1.amazonaws.com/dev (supplied in Zappa output after initial deployment)",
  "SECRET_KEY": "SAMPLE (arbitrary secret key needed for Flask, see example generation here: https://gist.github.com/geoffalday/2021517)"
}